.serarch_container {
	position: relative;
	.search {
		width: 380px;
		padding: 7px 10px;
		border-radius: 4px;
		border: 1px solid #ccc;
	}

	.dropdown {
		position: absolute;
		margin-top: 5px;
		width: 380px;
		height: 450px;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 10px 20px -2px rgba(0, 0, 0, 0.4);

		.searchResult {
			padding: 10px 16px;
			cursor: pointer;
			img {
				width: 32px;
				height: 48px;
			}
			h4 {
				color: #000;
			}
			.descr {
				color: #000;
			}
		}
	}
}
