$primary-color: #303e47;
$spinner-size-small: 20px;
$spinner-size-large: 60px;

.preloader {
	display: flex;
	justify-content: center;
	align-items: center;

	&.small {
		.spinner {
			width: $spinner-size-small;
			height: $spinner-size-small;
		}
	}

	&.large {
		.spinner {
			width: $spinner-size-large;
			height: $spinner-size-large;
		}
	}
}

.spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: $primary-color;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
